<section class="w-full flex flex-col gap-8 mb-16 sm:mb-24 max-w-[600px]">
    <h1 class="font-semibold text-xl">Phi Bya</h1>
    <p>
        I am a data scientist and a developer.
    </p>
    <p>
        Today I work as a Research Assistant Professor at Auburn University.
        I use machine learning and statistical model to solve biological and healthcare problems.
        I like to build web applications to allow non-programmers and non-technical users to perform complex data analysis.
    </p>
    <p>
        I am also a self-hosted enthusiast.
        I like to host my own services and applications on my own server.
        I believe that self-hosting is a way to take control of your data and privacy,
        as well as a way to learn and experiment with new technologies.
    </p>
    <p>
        My name is pronounced as "fee byah".
    </p>
</section>
